html, body {
	background: #2E2E6E;
	overflow: hidden;
}

.parent {
	display: flex;
	justify-content: center;
}
.drop {
	background: white;
	width: 6px;
	height: 6px;
	border-radius: 0px;
	animation: fall 3s cubic-bezier(0.1, 0.1, 0.1, 0.1) infinite;
	//animation-fill-mode: both;

	//margin-right: 45px
	position: absolute;

	//animation-delay: 0.9s
	//margin-left: 10px

	//&:nth-child(even) {
	//	top: 10px;
	//	left: -12px;
	//	width: 8px;
	//	height: 8px;
	//	border-radius: 40px;
	//	animation-delay: 1s !important;
	//}

	//&:nth-child(3n - 1) {
	//	top: 0px;

	//	left: 20px {
	//		animation-delay: 2s !important;
	//	}

	//	;
	//}

	//&:nth-child(3n + 1) {
	//	left: 0px;
	//	top: -10px;
	//	animation-delay: 3s !important;
	//}

	//&:nth-child(4n - 1) {
	//	left: 110px;
	//	top: -30px;
	//	animation-delay: 2.5s !important;
	//}

	//&:nth-child(4n + 1) {
	//	left: 45px;
	//	top: 15px;
	//	animation-delay: 1.5s !important;
	//}

	//&:nth-child(5n - 1) {
	//	left: 95px;
	//	top: -40px;
	//}

	//&:nth-child(-5n + 1) {
	//	left: 65px;
	//	top: 10px;
	//	animation-delay: 2.25s !important;
	//}

	//&:nth-child(6n + 1) {
	//	left: 37px;
	//	top: -65px;
	//	animation-delay: 1.25s !important;
	//}
}

@keyframes fall {
	0% {
		margin-top: -10px;
		opacity: 1;
	}

	60% {
		opacity: 1;
		margin-left: 45px;
	}

	100% {
		margin-top: 105vh;
		opacity: 0;
	}
}

//@keyframes float {
//	0% {
//		left: 0.5%;
//	}
//
//	50% {
//		left: -0.5%;
//	}
//
//	100% {
//		left: 0.5%;
//	}
//}