@import 'layers';

@font-face {
	font-family: 'Apple][';
	src: url('../assets/fonts/Apple ][.ttf')
}

html {
	background-color: #272537;
	//background-color: #32324B;
	//background: url(../assets/scene1_background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	overflow: hidden;
}

:root {
	--pixel-size: 4;
	--frame-duration: 100ms;
	--size-multiplier: 3.2;
}

.pixelart {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

div.container {
	display: flex;
	justify-content: center;
}
button.start {
	@include semiforeground;
	z-index: 99999;
	height: 5vh;
	width: calc(5vh*80/23);
	border: 0;
	background-color: #FFFFFF00;
	background-image: url(../assets/button_up.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
button.start:hover {
	cursor: pointer;
}
button.start:active {
	background-image: url(../assets/button_down.png);
}

canvas {
	@include foreground;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	//width: calc(230px * var(--size-multiplier));
	//height: calc(108px * var(--size-multiplier));

	// 500px directly from index.html canvas width/height
	width: calc(640px * var(--size-multiplier));
	height: calc(350px * var(--size-multiplier));

	//background-color: papayawhip;
}