@import 'layers';

@mixin santaContainer($imageWidth, $imageHeight, $numFrames) {
	@include middleground;
	height: calc(#{$imageHeight} * var(--pixel-size));
	width: calc(calc(#{$imageWidth}/#{$numFrames}) * var(--pixel-size));
	position: absolute;
	overflow: hidden;
}

@mixin santaSprites($imageWidth, $imageHeight, $numFrames) {
	@include middleground;
	height: calc(#{$imageHeight} * var(--pixel-size));
	width: calc(#{$imageWidth} * var(--pixel-size));
	animation: moveLeft calc(var(--frame-duration) * #{$numFrames}) steps(#{$numFrames}) infinite;
}

.santaPrepare {
	$width: 1568px;
	$height: 64px;
	$frames: 7;

	@include santaContainer($width, $height, $frames);
	margin-top: 80vh;

	.santaPrepareSprites {
		@include santaSprites($width, $height, $frames)
	}
}

.santaJump {
	$width: 320px;
	$height: 48px;
	$frames: 10;

	@include santaContainer($width, $height, $frames);

	.santaJumpSprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaRide {
	$width: 1136px;
	$height: 48px;
	$frames: 5;

	@include santaContainer($width, $height, $frames);
	margin-top: 20vh;

	.santaRideSprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaFall {
	$width: 3136px;
	$height: 96px;
	$frames: 14;

	@include santaContainer($width, $height, $frames);
	margin-top: 40vh;

	.santaFallSprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaBrake {
	$width: 7088px;
	$height: 64px;
	$frames: 31;

	@include santaContainer($width, $height, $frames);
	margin-top: 60vh;

	.santaBrakeSprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaBrake1 {
	$width: 224px;
	$height: 48px;
	$frames: 1;

	@include santaContainer($width, $height, $frames);
	//margin-top: 60vh;
	margin-left: 65vw;

	.santaBrake1Sprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaBrake2 {
	$width: 640px;
	$height: 20300px;
	$frames: 57;

	//@include santaContainer($width, $height, $frames);
	margin-top: 20vh;
	margin-left: 35vw;

	@include middleground;
	height: calc(#{$height} * var(--pixel-size));
	width: calc(calc(#{$width}/#{$frames}) * var(--pixel-size));
	position: absolute;
	background-color: papayawhip;
	//overflow: hidden;

	.santaBrake2Sprites {
		//@include santaSprites($width, $height, $frames);
	@include middleground;
	height: calc(#{$height} * var(--pixel-size));
	width: calc(#{$width} * var(--pixel-size));
	animation: moveUp calc(var(--frame-duration) * #{$frames}) steps(#{$frames}) infinite;
	}
}

.santaBrake3 {
	$width: 1664px;
	$height: 48px;
	$frames: 8;

	@include santaContainer($width, $height, $frames);
	margin-top: 40vh;
	margin-left: 65vw;

	.santaBrake3Sprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaBrake4 {
	$width: 448px;
	$height: 48px;
	$frames: 2;

	@include santaContainer($width, $height, $frames);
	margin-top: 60vh;
	margin-left: 65vw;

	.santaBrake4Sprites {
		@include santaSprites($width, $height, $frames);
	}
}

.santaBrake5 {
	$width: 4288px;
	$height: 64px;
	$frames: 18;

	@include santaContainer($width, $height, $frames);
	margin-top: 80vh;
	margin-left: 65vw;

	.santaBrake5Sprites {
		@include santaSprites($width, $height, $frames);
	}
}

@keyframes moveLeft {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(-100%, 0);
	}
}

@keyframes moveUp {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, -100%);
	}
}

.houses {
	@include middleground;
	background-image: url("../assets/houses.png");
	background-repeat: repeat-x;
	background-size: contain;
	background-position: bottom;
	position: fixed;
	padding: 0;

	// positioning
	bottom: 0;
	left: -10%;

	// sizing
	width: 120vw;
	height: 10vh;
	resize: both;
}